@if (step === 1) {
<div class="flex justify-end text-sm text-gray-500 mb-4 gap-[10px]">
  <span>English </span>
  <a class="text-main font-bold">Sign in</a>
  <a
    routerLink="/register"
    class="bg-white rounded-2xl px-3 border-1 border-gray-200 shadow-2xl"
    >Register</a
  >
</div>

<h2 class="text-2xl font-bold mb-6 ms-3">Forgot your password?</h2>

<form
  [formGroup]="verfiyEmailForm"
  (ngSubmit)="onSubmitEmail()"
  class="mx-1 md:mx-4"
>
  <div class="flex items-center mb-4">
    <div class="flex-grow mb-0">
      @let emailControl = verfiyEmailForm.get('email');
      <input
        [class]="{
          'border-red-500': emailControl?.errors && emailControl?.touched,
          'border-green-500': !emailControl?.errors
        }"
        type="email"
        formControlName="email"
        id="email"
        placeholder="Email"
        class="custom-input custom-shadow"
      />
      @if (emailControl?.errors && emailControl?.touched) {
      <div class="text-red-700 p-2 rounded" role="alert">
        @if (emailControl?.getError('required')) {
        <div class="text-red-600 text-sm">
          <small>Email is required</small>
        </div>
        } @else if (emailControl?.getError('email')) {
        <div class="text-red-600 text-sm">
          <small>Enter a valid Email</small>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <p class="text-end text-main font-semibold mb-8 cursor-pointer">
    Recover Password ?
  </p>
  <div class="mb-3">
    <button
      [disabled]="verfiyEmailForm.invalid"
      type="submit"
      class="custom-button"
    >
      Sign in
    </button>
  </div>
</form>

<div class="mt-6">
  <div class="flex items-center justify-center">
    <div class="w-[30%] h-px bg-gray-300"></div>
    <span class="mx-4 text-gray-500 whitespace-nowrap">Or Continue with</span>
    <div class="w-[30%] h-px bg-gray-300"></div>
  </div>
  <!-- Icons -->
  <div class="flex justify-center gap-4 mt-4">
    <div class="custom-cardIcon">
      <img src="/image/icons/Logo Google.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/twitter.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/facebook.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/Apple.png" class="size-6" />
    </div>
  </div>
</div>
} @if (step === 2) {
<div class="flex justify-end text-sm text-gray-500 mb-4 gap-[10px]">
  <span>English </span>
  <a class="text-main font-bold">Sign in</a>
  <a
    routerLink="/register"
    class="bg-white rounded-2xl px-3 border-1 border-gray-200 shadow-2xl"
    >Register</a
  >
</div>

<h2 class="text-2xl font-bold mb-6 ms-3">Verify code</h2>

<form
  [formGroup]="verfiyCodeForm"
  (ngSubmit)="onSubmitCode()"
  class="mx-1 md:mx-4"
>
  <div class="flex items-center mb-4">
    <div class="flex items-center mb-4">
      <div class="flex-grow mb-0">
        @let resetCodeControl = verfiyCodeForm.get('resetCode');
        <input
          [class]="{
            'border-red-500':
              resetCodeControl?.errors && resetCodeControl?.touched,
            'border-green-500': !resetCodeControl?.errors
          }"
          type="text"
          formControlName="resetCode"
          placeholder="Enter Code"
          id="resetCode"
          class="custom-input custom-shadow"
        />

        @if (resetCodeControl?.errors && resetCodeControl?.touched) {
        <div class="text-red-600 p-2 rounded" role="alert">
          @if (resetCodeControl?.invalid && resetCodeControl?.touched) {
          <div class="text-red-600 text-sm space-y-1">
            @if (resetCodeControl?.errors?.['required']) {
            <small>resetCode is required.</small>
            } @if (resetCodeControl?.errors?.['pattern']) {
            <small>resetCode must be Vailed.</small>
            }
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
  <p class="text-end font-semibold mb-8 cursor-pointer">
    Didn’t receive a code?
    <span (click)="onSubmitEmail()" class="text-main">Resend</span>
  </p>
  <div class="mb-3">
    <button
      [disabled]="verfiyCodeForm.invalid"
      type="submit"
      class="custom-button"
    >
      Verify
    </button>
  </div>
</form>

<div class="mt-6">
  <div class="flex items-center justify-center">
    <div class="w-[30%] h-px bg-gray-300"></div>
    <span class="mx-4 text-gray-500 whitespace-nowrap">Or Continue with</span>
    <div class="w-[30%] h-px bg-gray-300"></div>
  </div>
  <!-- Icons -->
  <div class="flex justify-center gap-4 mt-4">
    <div class="custom-cardIcon">
      <img src="/image/icons/Logo Google.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/twitter.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/facebook.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/Apple.png" class="size-6" />
    </div>
  </div>
</div>
} @if (step === 3) {
<div class="flex justify-end text-sm text-gray-500 mb-4 gap-[10px]">
  <span>English </span>
  <a class="text-main font-bold">Sign in</a>
  <a
    routerLink="/register"
    class="bg-white rounded-2xl px-3 border-1 border-gray-200 shadow-2xl"
    >Register</a
  >
</div>

<h2 class="text-2xl font-bold mb-6 ms-3">Set a Password</h2>

<form
  [formGroup]="verfiyNewpassForm"
  (ngSubmit)="onSubmitNewPassword()"
  class="mx-1 md:mx-4"
>
  <div class="flex items-center mb-4">
    <div class="flex-grow mb-0">
      @let emailControl = verfiyNewpassForm.get('email');
      <input
        [class]="{
          'border-red-500': emailControl?.errors && emailControl?.touched,
          'border-green-500': !emailControl?.errors
        }"
        type="email"
        formControlName="email"
        id="email"
        placeholder="Email"
        class="custom-input custom-shadow"
      />
      @if (emailControl?.errors && emailControl?.touched) {
      <div class="text-red-700 p-2 rounded" role="alert">
        @if (emailControl?.getError('required')) {
        <div class="text-red-600 text-sm">
          <small>Email is required</small>
        </div>
        } @else if (emailControl?.getError('email')) {
        <div class="text-red-600 text-sm">
          <small>Enter a valid Email</small>
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="flex items-center mb-4">
    <div class="flex-grow mb-0">
      @let passwordControl = verfiyNewpassForm.get('newPassword');
      <input
        [class]="{
          'border-red-500': passwordControl?.errors && passwordControl?.touched,
          'border-green-500': !passwordControl?.errors
        }"
        type="password"
        formControlName="newPassword"
        placeholder="New Password"
        id="newPassword"
        class="custom-input custom-shadow"
      />

      @if (passwordControl?.errors && passwordControl?.touched) {
      <div class="text-red-600 p-2 rounded" role="alert">
        @if (passwordControl?.invalid && passwordControl?.touched) {
        <div class="text-red-600 text-sm space-y-1">
          @if (passwordControl?.errors?.['required']) {
          <small>New Password is required.</small>
          } @if (passwordControl?.errors?.['pattern']) {
          <small>New Password must be Vailed.</small>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
  <div class="mb-3">
    <button
      [disabled]="verfiyNewpassForm.invalid"
      type="submit"
      class="custom-button"
    >
      Sign in
    </button>
  </div>
</form>

<div class="mt-6">
  <div class="flex items-center justify-center">
    <div class="w-[30%] h-px bg-gray-300"></div>
    <span class="mx-4 text-gray-500 whitespace-nowrap">Or Continue with</span>
    <div class="w-[30%] h-px bg-gray-300"></div>
  </div>
  <!-- Icons -->
  <div class="flex justify-center gap-4 mt-4">
    <div class="custom-cardIcon">
      <img src="/image/icons/Logo Google.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/twitter.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/facebook.png" class="size-6" />
    </div>
    <div class="custom-cardIcon">
      <img src="/image/icons/Apple.png" class="size-6" />
    </div>
  </div>
</div>

}
